{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "transform-class-properties",
      { "spec": true }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "@",
        "rootPathSuffix": "app/javascripts"
      }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "#",
        "rootPathSuffix": "../app/javascripts"
      },
      "Second Breakfast!"
    ]
  ]
}
