$award--border-color: #eaeaea;

.award {
  padding-bottom: 2rem;
}

.award__share-link {
  background: rgba(0, 0, 0, 0.09);
  border-radius: 100px;
  color: white;
  height: 44px;
  padding: 12px 16px 12px 12px;
  position: absolute;
  right: 20px;
  top: 2vmax;
  transition: 0.1s;
  width: 44px;
}

.award__edit-link {
  background: rgba(0, 0, 0, 0.09);
  border-radius: 100px;
  color: white;
  height: 44px;
  padding: 12px 16px 12px 12px;
  position: absolute;
  right: 74px;
  top: 2vmax;
  transition: 0.1s;
  width: 44px;
}

.award__image {
  display: inline-block;
  margin: 0 0 2rem 0;
  max-width: 300px;
  position: relative;
  transition: 0.6s;
  top: -20px;
}

.award__image.is-animating {
  top: 0;
}

.award__title {
  font-size: 4.5vmin;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.award__subtitle {
  font-size: 3.5vmin;
  letter-spacing: 1px;
}

.award__title_and_subtitle_ruler {
  background-image: linear-gradient(to right, #eee 33%, white 0%);
  background-position: bottom;
  background-size: 25px 5px;
  background-repeat: repeat-x;

  height: 5px;
}

.border--thick {
  border: 5px solid lighten($award--border-color, 5%);
  padding: 0.5rem;
}

.border--thin {
  border: 3px solid $award--border-color;
  padding: 5vmax;
  position: relative;
}


.award__shiny {
  position: relative;
}

.award__show-off {
  background: linear-gradient(90deg, rgba(255,255,255, 0.2)50%, rgba(255,255,255,0.3)100%);
  height: 350px;
  left: 50px;
  position: absolute;
  transition: 0.6s;
  transition-timing-function: ease-in;
  transform: rotate(30deg);
  top: 0;
  width: 40px;
  z-index: 100000;
}

.award__show-off.is-animating {
  transform: rotate(0);
  left: 500px;
}
