.award-type {
  background: white;
  border: 3px solid #f2f2f2;
  cursor: pointer;
  border-radius: 2px;
  opacity: 0.8;
  line-height: 0;
}

.award-type.selected,
.award-type.selected:hover,
.award-type.selected:focus {
  border: 3px solid #45bed0;
  opacity: 1;
}

.award-type:hover,
.award-type:focus {
  border: 3px solid #c7e7ff;
  opacity: 1;
}

.award-type__img {
  width: 100%;
  max-width: 128px;
}
