.award-type {
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 2px;
  line-height: 0;
}

.award-type.selected {
  border: 1px solid #666;
}

.award-type__img {
  width: 100%;
  max-width: 128px;
}
