// 1. Import the initial variables
$primary: #45bed0;

$blue: $primary;

$pink: #e45a98;
$pink-two: #ff6aa8;

$family-primary: "futura-pt", sans-serif;

@import '~react-tippy/dist/tippy.css';

// 6. Import the rest of Bulma
@import '~bulma/bulma';

@import 'ivy';
