h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif !important;
}

/* Need to find a way to override Bulma properly (ie no !importanté) */
.navbar-item img {
  max-height: 4rem !important;
}
a.navbar-item:hover,
a.navbar-item.is-active,
a.navbar-link:hover,
a.navbar-link.is-active {
  background: transparent !important;
}
