h1 {
  font-family: 'Josefin Sans', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "futura-pt", sans-serif;
}

/* Need to find a way to override Bulma properly (ie noé) */
.navbar-item img {
  max-height: 4rem;
}

a.navbar-item:hover,
a.navbar-item.is-active,
a.navbar-link:hover,
a.navbar-link.is-active {
  background: transparent;
  color: #00b1c2;
}

.button.is-dark:hover,
.button.is-dark.is-hovered {
  background: #111;
  color: white;
}

/* Need to find a way to override Bulma properly (ie noé) */
.button.is-primary {
  background-color: #00b1c2;
}

/* Need to find a way to override Bulma properly (ie noé) */
.section {
  padding: 1rem 1.5rem;
}

.button,
.label,
.input,
.navbar-item {
  font-family: "futura-pt", sans-serif;
}

.label {
  letter-spacing: 1px;
}

.input {
  letter-spacing: 1px;
}

.input, .textarea {
  border-radius: 0;
}

/* Need to find a way to override Bulma properly (ie noé) */
.textarea:not([rows]) {
  max-height: 600px;
  min-height: 70px;
}

.ivy-form {
    background: #fcfcfc;
    align-items: stretch;
    /*border: 3px solid #f5f5f5;*/
    /*border-radius: 3px;*/
    /*border-top-left-radius: 0;*/
    display: flex;
    justify-content: center;
    position: relative;
}

.ivy-form:not(:last-child) {
    margin-bottom: 1.5rem;
}

.ivy-form--wrapper {
  padding: 2rem 0;
  width: 90%;
}

.table__wrapper {
  overflow-x: auto;
}

.title {
  line-height: 2;
}
.subtitle {
  font-size: 1.75rem;
  line-height: 1.5;
}
.hero.is-dark .subtitle {
  color: #888;
}
